{% extends '::base.html.twig' %}
  {% block formulario %}
 <div class="row-fluid">
    <div class="box span12">
        <div class="box-header" data-original-title="">
            <h2><i class="halflings-icon edit"></i><span class="break"></span>Crear Balanza</h2>
            <div class="box-icon">
                <a href="" class="btn-setting"><i class="halflings-icon wrench"></i></a>
                <a href="" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
                <a href="" class="btn-close"><i class="halflings-icon remove"></i></a>
            </div>
        </div>

        <div class="box-content">
          
                {% include "contabilidadBundle:balanza:new.html.twig" with {
                                            "form": formulario,
                                        } %}
              
        </div>
    </div>
</div>
{% endblock %}                    
{% block grid %}
<div class="row-fluid">
    <div class="box span12">
        <div class="box-header" data-original-title="">
            <h2><i class="halflings-icon user"></i><span class="break"></span>Balanzas</h2>
            <div class="box-icon">
                <a href="#" class="btn-setting"><i class="halflings-icon wrench"></i></a>
                <a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
                <a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
            </div>
        </div>
        <div class="box-content">
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Cuenta</th>
                        <th>Saldoinicial</th>
                        <th>Debe</th>
                        <th>Haber</th>
                        <th>Saldofinal</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <td><a href="{{ path('balanza_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                        <td>{{ entity.cuenta }}</td>
                        <td>{{ entity.saldoInicial }}</td>
                        <td>{{ entity.debe }}</td>
                        <td>{{ entity.haber }}</td>
                        <td>{{ entity.saldoFinal }}</td>
                        <td>
                        <ul>
                            <li>
                                <a href="{{ path('balanza_show', { 'id': entity.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('balanza_edit', { 'id': entity.id }) }}">edit</a>
                            </li>
                        </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

                <ul>
                <li>
                    <a href="{{ path('balanza_new') }}">
                        Create a new entry
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
    {% endblock %}
