{% extends '::base.html.twig' %}

{% block body -%}
    <h1>balanza</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Cuenta</th>
                <td>{{ entity.cuenta }}</td>
            </tr>
            <tr>
                <th>Saldoinicial</th>
                <td>{{ entity.saldoInicial }}</td>
            </tr>
            <tr>
                <th>Debe</th>
                <td>{{ entity.debe }}</td>
            </tr>
            <tr>
                <th>Haber</th>
                <td>{{ entity.haber }}</td>
            </tr>
            <tr>
                <th>Saldofinal</th>
                <td>{{ entity.saldoFinal }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('balanza') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('balanza_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
