{% extends '::base_pagina.html.twig' %}

{% block slider %}

<div class="container">
<div class="row"><div class="col-xs-12" style="height: 20px;"></div></div>
    <div class="row form-group">
        <div class="col-xs-12">
            <ul class="nav nav-pills nav-justified thumbnail setup-panel">
                <li class="disabled"><a href="#step-1">
                    <h4 class="list-group-item-heading">Paso 1</h4>
                    <p class="list-group-item-text">Resumen de tu pedido</p>
                </a></li>
                <li class="disabled"><a href="#step-2">
                    <h4 class="list-group-item-heading">Paso 2</h4>
                    <p class="list-group-item-text">Iniciar Sesion</p>
                </a></li>
                <li class="active"><a href="#step-3">
                    <h4 class="list-group-item-heading">Paso 3</h4>
                    <p class="list-group-item-text">Direccion de facturacion</p>
                </a></li>
                <li class="disabled"><a href="#step-3">
                    <h4 class="list-group-item-heading">Paso 4</h4>
                    <p class="list-group-item-text">Pagar</p>
                </a></li>
            </ul>
        </div>
    </div>
    <div class="row setup-content" id="step-1">

<form name="dscorpbundle_datosfiscales" method="post" action="{{ path('datosfiscales_update') }}">
    
    <div class="row">
        <div class="col-lg-4">
            <div class="form-group">
                {{ form_label(form.razonSocial) }}
                {{ form_errors(form.razonSocial) }}
                {{ form_widget(form.razonSocial, {attr: {'class': 'form-control' }}) }}
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                {{ form_label(form.rfc) }}
                {{ form_errors(form.rfc) }}
                {{ form_widget(form.rfc, {attr: {'class': 'form-control' }}) }}
            </div>
        </div>
    </div>    
     <div class="row">
        <div class="col-lg-4">
            <div class="form-group">
                {{ form_label(form.calle) }}
                {{ form_errors(form.calle) }}
                {{ form_widget(form.calle, {attr: {'class': 'form-control' }}) }}
            </div>
        </div>
        <div class="col-lg-2">
            <div class="form-group">
                {{ form_label(form.noExterior) }}
                {{ form_errors(form.noExterior) }}
                {{ form_widget(form.noExterior, {attr: {'class': 'form-control' }}) }}
            </div>
        </div>
        <div  class="col-lg-2">             
            <div class="form-group">
                {{ form_label(form.noInterior) }}
                {{ form_errors(form.noInterior) }}
                {{ form_widget(form.noInterior, {attr: {'class': 'form-control' }}) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">           
            <div class="form-group">
                {{ form_label(form.pais) }}
                {{ form_errors(form.pais) }}
                {{ form_widget(form.pais, {attr: {'class': 'form-control' }}) }}
            </div>
            <div class="form-group">
                {{ form_label(form.municipio) }}
                {{ form_errors(form.municipio) }}
                {{ form_widget(form.municipio, {attr: {'class': 'form-control' }}) }}
            </div>
            <div class="form-group">
                {{ form_label(form.colonia) }}
                {{ form_errors(form.colonia) }}
                {{ form_widget(form.colonia, {attr: {'class': 'form-control' }}) }}
            </div>
            <div class="form-group">
                {{ form_label(form.codigoPostal) }}
                {{ form_errors(form.codigoPostal) }}
                {{ form_widget(form.codigoPostal, {attr: {'class': 'form-control' }}) }}
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                {{ form_label(form.estado) }}
                {{ form_errors(form.estado) }}
                {{ form_widget(form.estado, {attr: {'class': 'form-control' }}) }}
            </div>
            <div class="form-group">
                {{ form_label(form.localidad) }}
                {{ form_errors(form.localidad) }}
                {{ form_widget(form.localidad, {attr: {'class': 'form-control' }}) }}
            </div>
            <div class="form-group">
                {{ form_label(form.referencia) }}
                {{ form_errors(form.referencia) }}
                {{ form_widget(form.referencia, {attr: {'class': 'form-control' }}) }}
            </div>                                        
            <div class="buttons">
                <input type="hidden" name="idcarrito" value="{{elid}}">
               {{ form_widget (form._token) }} {{ form_widget(form.save, {attr: {'class': 'btn btn-primary' }}) }}
               <a href="{{ path('carrito_checkaut', { 'id': elid }) }}" class="btn btn-primary">Siguiente</a>
            </div>
        </div>
    </div>
</form>
 </div>      
 </div>

{% endblock  %}
