<li>
    <a class="dropmenu" href="#"><i class="icon-edit"></i><span class="hidden-tablet"> Contabilidad Electronica</span><span class="label label-important"> 3 </span></a>
    <ul>
        <li><a class="submenu" href="{{ path('polizas') }}"><i class="icon-file-alt"></i><span class="hidden-tablet"> Reporte de polizas</span></a></li>
        <li><a class="submenu" href="{{ path('balanzas') }}"><i class="icon-file-alt"></i><span class="hidden-tablet"> Reporte de balanzas</span></a></li>
        <li><a class="submenu" href="{{ path('cuentas') }}"><i class="icon-file-alt"></i><span class="hidden-tablet"> Reporte de Cuentas</span></a></li>
        <li><a class="submenu" href="{{path('comprobantes') }}"><i class="icon-file-alt"></i><span class="hidden-tablet"> Comprobantes</span></a></li>
     </ul>   
</li>
<li>
    <a class="dropmenu" href="#"><i class="icon-dashboard"></i><span class="hidden-tablet"> Facturacion Electronica</span><span class="label label-important"> 3 </span></a>
    <ul>
        <li><a class="submenu" href="{{ path('customer') }}"><i class="icon-file-alt"></i><span class="hidden-tablet"> Clientes</span></a></li>
        <li><a class="submenu" href="{{ path('producto') }}"><i class="icon-file-alt"></i><span class="hidden-tablet"> Productos</span></a></li>
        <li><a class="submenu" href="{{ path('producto') }}"><i class="icon-file-alt"></i><span class="hidden-tablet"> Comprobantes</span></a></li>
     </ul>   
</li>