{% extends '::base.html.twig' %}

{% block body -%}
    <h1>cuenta list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Numerodecuenta</th>
                <th>Descripcion</th>
                <th>Nivel</th>
                <th>Naturaleza</th>
                <th>Grupo</th>
                <th>Padre</th>
                <th>Sat</th>
                <th>Funcion</th>
                <th>Mayor</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('cuenta_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.numeroDeCuenta }}</td>
                <td>{{ entity.descripcion }}</td>
                <td>{{ entity.nivel }}</td>
                <td>{{ entity.naturaleza }}</td>
                <td>{{ entity.grupo }}</td>
                <td>{{ entity.padre }}</td>
                <td>{{ entity.sat }}</td>
                <td>{{ entity.funcion }}</td>
                <td>{{ entity.mayor }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('cuenta_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('cuenta_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('cuenta_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
