{% extends '::base.html.twig' %}

{% block body -%}
    <h1>transferencia</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Cuentaorigen</th>
                <td>{{ entity.cuentaOrigen }}</td>
            </tr>
            <tr>
                <th>Bancoorigen</th>
                <td>{{ entity.bancoOrigen }}</td>
            </tr>
            <tr>
                <th>Monto</th>
                <td>{{ entity.monto }}</td>
            </tr>
            <tr>
                <th>Cuentadestino</th>
                <td>{{ entity.cuentaDestino }}</td>
            </tr>
            <tr>
                <th>Bancodestino</th>
                <td>{{ entity.bancoDestino }}</td>
            </tr>
            <tr>
                <th>Beneficiario</th>
                <td>{{ entity.beneficiario }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ entity.fecha|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Rfc</th>
                <td>{{ entity.rfc }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('transferencia') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('transferencia_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
