{% extends '::base.html.twig' %}
 {% block formulario %}
 <div class="row-fluid">
    <div class="box span12">
        <div class="box-header" data-original-title="">
            <h2><i class="halflings-icon edit"></i><span class="break"></span>Crear direccion</h2>
            <div class="box-icon">
                <a href="" class="btn-setting"><i class="halflings-icon wrench"></i></a>
                <a href="" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
                
            </div>
        </div>

        <div class="box-content">
          
                {% include "contabilidadBundle:direccion:new.html.twig" with {
                                            "form": formulario,
                                        } %}
              
        </div>
    </div>
</div>
{% endblock %}                    
{% block grid %}
<div class="row-fluid">
    <div class="box span12">
        <div class="box-header" data-original-title="">
            <h2><i class="halflings-icon user"></i><span class="break"></span>cliente</h2>
            <div class="box-icon">
                <a href="#" class="btn-setting"><i class="halflings-icon wrench"></i></a>
                <a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
                
            </div>
        </div>
        <div class="box-content">
            <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Calle</th>
                <th>Noexterior</th>
                <th>Nointerior</th>
                <th>Colonia</th>
                <th>Codigopostal</th>
                <th>Localidad</th>
                <th>Referencia</th>
                <th>Municipio</th>
                <th>Estado</th>
                <th>Pais</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('direccion_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.calle }}</td>
                <td>{{ entity.noExterior }}</td>
                <td>{{ entity.noInterior }}</td>
                <td>{{ entity.colonia }}</td>
                <td>{{ entity.codigoPostal }}</td>
                <td>{{ entity.localidad }}</td>
                <td>{{ entity.referencia }}</td>
                <td>{{ entity.municipio }}</td>
                <td>{{ entity.estado }}</td>
                <td>{{ entity.pais }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('direccion_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('direccion_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('direccion_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
