{{ form_start(form) }}
    <div class="row-fluid">
		<div class="span">
			<div class="control-group">
		        {{ form_label(form.calle) }}
		      	<div class="controls">
		      		   {{ form_widget(form.calle) }}
		      	</div>
		      	<div class="controls-errors">
			    	  {{ form_errors(form.calle) }}
			    </div>
			</div>
		</div>
		<div class="span3">
			<div class="control-group">
		        {{ form_label(form.noExterior) }}
		      	<div class="controls">
		      		   {{ form_widget(form.noExterior) }}
		      	</div>
		      	<div class="controls-errors">
			    	  {{ form_errors(form.noExterior) }}
			    </div>
			</div>
		</div>
		<div class="span3">
			<div class="control-group">
		        {{ form_label(form.noInterior) }}
		      	<div class="controls">
		      		   {{ form_widget(form.noInterior) }}
		      	</div>
		      	<div class="controls-errors">
			    	  {{ form_errors(form.noInterior) }}
			    </div>
			</div>
		</div>
		<div class="span3">
			<div class="control-group">
		        {{ form_label(form.colonia) }}
		      	<div class="controls">
		      		   {{ form_widget(form.colonia) }}
		      	</div>
		      	<div class="controls-errors">
			    	  {{ form_errors(form.colonia) }}
			    </div>
			</div>
		</div>
		<div class="span4">
			<div class="control-group">
		        {{ form_label(form.codigoPostal) }}
		      	<div class="controls">
		      		   {{ form_widget(form.codigoPostal) }}
		      	</div>
		      	<div class="controls-errors">
			    	  {{ form_errors(form.codigoPostal) }}
			    </div>
			</div>
		</div>
		
		<div class="span5">
			<div class="control-group">
		        {{ form_label(form.localidad) }}
		      	<div class="controls">
		      		   {{ form_widget(form.localidad) }}
		      	</div>
		      	<div class="controls-errors">
			    	  {{ form_errors(form.localidad) }}
			    </div>
			</div>
		</div>
		<div class="span">
			<div class="control-group">
		        {{ form_label(form.referencia) }}
		      	<div class="controls">
		      		   {{ form_widget(form.referencia) }}
		      	</div>
		      	<div class="controls-errors">
			    	  {{ form_errors(form.referencia) }}
			    </div>
			</div>
		</div>
		<div class="span3">
			<div class="control-group">
		        {{ form_label(form.municipio) }}
		      	<div class="controls">
		      		   {{ form_widget(form.municipio) }}
		      	</div>
		      	<div class="controls-errors">
			    	  {{ form_errors(form.municipio) }}
			    </div>
			</div>
		</div>
		<div class="span5">
			<div class="control-group">
		        {{ form_label(form.estado) }}
		      	<div class="controls">
		      		   {{ form_widget(form.estado) }}
		      	</div>
		      	<div class="controls-errors">
			    	  {{ form_errors(form.estado) }}
			    </div>
			</div>
		</div>
		<div class="span5">
			<div class="control-group">
		        {{ form_label(form.pais) }}
		      	<div class="controls">
		      		   {{ form_widget(form.pais) }}
		      	</div>
		      	<div class="controls-errors">
			    	  {{ form_errors(form.pais) }}
			    </div>
			</div>
		</div>
</div>
<div class="form-actions">
	<button type="submit" class="btn btn-primary">Guardar cambios</button>
</div>     
{{ form_end(form) }}

