{% extends '::base.html.twig' %}

{% block body -%}
    <h1>direccion</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Calle</th>
                <td>{{ entity.calle }}</td>
            </tr>
            <tr>
                <th>Noexterior</th>
                <td>{{ entity.noExterior }}</td>
            </tr>
            <tr>
                <th>Nointerior</th>
                <td>{{ entity.noInterior }}</td>
            </tr>
            <tr>
                <th>Colonia</th>
                <td>{{ entity.colonia }}</td>
            </tr>
            <tr>
                <th>Codigopostal</th>
                <td>{{ entity.codigoPostal }}</td>
            </tr>
            <tr>
                <th>Localidad</th>
                <td>{{ entity.localidad }}</td>
            </tr>
            <tr>
                <th>Referencia</th>
                <td>{{ entity.referencia }}</td>
            </tr>
            <tr>
                <th>Municipio</th>
                <td>{{ entity.municipio }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ entity.estado }}</td>
            </tr>
            <tr>
                <th>Pais</th>
                <td>{{ entity.pais }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('direccion') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('direccion_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
