{{ form_start(form) }}
  	<div class="span">
  	<div class="control-group">

        {{ form_label(form.razonSocial) }}
      	<div class="controls">
      		   {{ form_widget(form.razonSocial) }}
      	</div>
      	<div class="controls-errors">
	    	  {{ form_errors(form.razonSocial) }}
	    </div>
	</div>
	<div class="row-fluid">
		<div class="span">
			<div class="control-group">
		        {{ form_label(form.rfc) }}
		      	<div class="controls">
		      		   {{ form_widget(form.rfc) }}
		      	</div>
		      	<div class="controls-errors">
			    	  {{ form_errors(form.rfc) }}
			    </div>
			</div>
		</div>
		<div class="row-fluid">
		<div class="span">
			<div class="control-group">
		        {{ form_label(form.descripcion) }}
		      	<div class="controls">
		      		   {{ form_widget(form.descripcion) }}
		      	</div>
		      	<div class="controls-errors">
			    	  {{ form_errors(form.descripcion) }}
			    </div>
			</div>
		</div>
</div>		

<div class="form-actions">
	<button type="submit" class="btn btn-primary">Guardar cambios</button>
</div>     
{{ form_end(form) }}
