{% extends '::base.html.twig' %}

{% block body -%}
    <h1>customerDireccion list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Calle</th>
                <th>Noexterior</th>
                <th>Nointerior</th>
                <th>Colonia</th>
                <th>Codigopostal</th>
                <th>Localidad</th>
                <th>Referencia</th>
                <th>Municipio</th>
                <th>Estado</th>
                <th>Pais</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('customerdireccion_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.calle }}</td>
                <td>{{ entity.noExterior }}</td>
                <td>{{ entity.noInterior }}</td>
                <td>{{ entity.colonia }}</td>
                <td>{{ entity.codigoPostal }}</td>
                <td>{{ entity.localidad }}</td>
                <td>{{ entity.referencia }}</td>
                <td>{{ entity.municipio }}</td>
                <td>{{ entity.estado }}</td>
                <td>{{ entity.pais }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('customerdireccion_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('customerdireccion_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('customerdireccion_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
