{% extends '::base_pagina.html.twig' %}
{% block productos %}
<div class="container">
<div class="row">
 <div class="col-md-12"> 
    {% if totalItemNumber > 0 %}
        {{ 'Tus Productos'|trans }}
    {% else %}
        {{ 'Aun no tienes productos!'|trans }}
    {% endif %}
</div >
</div >

    <!-- Basket -->

    {% if totalItemNumber > 0 %}
        <div class="row">
            <div class="col-md-12">
                              
                    <table class="basket-table">
                        <thead>
                        <tr>
                            <th colspan="2">Producto</th>
                            <th>Cantidad</th>
                            <th>Precio</th>
                            <th colspan="2">Total</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for line in cartLines %}

                            {% include "cartBundle:itemCarrito:show.html.twig" with {
                                "entity": line,
                            } %}

                        {% endfor %}                    

                        </tbody>
                    </table>

                    <div class="clearfix">

                        <p class="basket-total"><span>Total: </span></p>

                    </div>
                    <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
                        <input type="hidden" name="cmd" value="_cart">
                        <input type="hidden" name="business" value="nypo59-facilitator@gmail.com">
                        <input name="currency_code" type="hidden" value="MXN">
                        <input type="hidden" name="upload" value="1">
                        <input name="rm" type="hidden" value="2">
                        <input type="hidden" name="no_shipping" value="1">
                        <input name="return" type="hidden" value="{{url('paypal_exito', { 'masked': masked })}}">
                        <input type="hidden" name="cancel_return" value="{{url('paypal_cancel')}}">
                        <input name="notify_url" type="hidden" value="{{url('paypal_notify')}}">
                        {% set counter = 1 %} 
                        {% for line in cartLines %}
                            <input type="hidden" name="item_number_{{counter}}" value="{{line.id}}">
                            <input type="hidden" name="item_name_{{counter}}" value="{{ line.producto }}">                                                       
                            <input type="hidden" name="amount_{{counter}}" value="{{ line.cantidad * line.precio}}">
                            <input type="hidden" name="quantity_{{counter}}" value="{{ line.cantidad }}">
                            
                            {% set counter = counter + 1 %}
                        {% endfor %}     
                      
                    <p class="actions">
                        <a class="btn btn-blank" href="">{{ 'Continue shopping'|trans }}</a>
                        <a class="btn btn-blank" href="">{{ 'Empty basket'|trans }}</a>                        
                        
                         <input type="image" src="http://www.paypal.com/es_XC/i/btn/x-click-but01.gif"
                               name="submit"
                               alt="Make payments with PayPal - it's fast, free and secure!">
                    </p>
          

                    </form>
            </div>
        </div>

        

        <!-- Related products -->

       

    {% endif %}

</div>
    {% endblock %}