{{ form_start(form) }}
  	<div class="control-group">
        {{ form_label(form.cliente) }}
      	<div class="controls">
      		   {{ form_widget(form.cliente) }}
      	</div>
      	<div class="controls-errors">
	    	  {{ form_errors(form.cliente) }}
	    </div>
	</div>
	<div class="row-fluid">
		<div class="span3">
			<div class="control-group">
		        {{ form_label(form.tipo) }}
		      	<div class="controls">
		      		   {{ form_widget(form.tipo) }}
		      	</div>
		      	<div class="controls-errors">
			    	  {{ form_errors(form.tipo) }}
			    </div>
			</div>
		</div>
		<div class="span3">
			<div class="control-group">
		        {{ form_label(form.nombre) }}
		      	<div class="controls">
		      		   {{ form_widget(form.nombre) }}
		      	</div>
		      	<div class="controls-errors">
			    	  {{ form_errors(form.nombre) }}
			    </div>
			</div>
		</div>
		<div class="span3">
			<div class="control-group">
		        {{ form_label(form.contenido) }}
		      	<div class="controls">
		      		   {{ form_widget(form.contenido) }}
		      	</div>
		      	<div class="controls-errors">
			    	  {{ form_errors(form.contenido) }}
			    </div>
			</div>
		</div>
		
</div>
<div class="form-actions">
	<button type="submit" class="btn btn-primary">Guardar cambios</button>
</div>     
{{ form_end(form) }}
