{{ form_start(form) }}
  	<div class="control-group">
        {{ form_label(form.contenido) }}
      	<div class="controls">
      		   {{ form_widget(form.contenido) }}
      	</div>
      	<div class="controls-errors">
	    	  {{ form_errors(form.contenido) }}
	    </div>
	</div>
	
</div>
<div class="form-actions">
	<button type="submit" class="btn btn-primary">Guardar cambios</button>
</div>     
{{ form_end(form) }}
