{% extends '::base.html.twig' %}

{% block body -%}
    <h1>transaccion list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Numcuenta</th>
                <th>Concepto</th>
                <th>Debe</th>
                <th>Haber</th>
                <th>Moneda</th>
                <th>Tipodecambio</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('transaccion_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.numCuenta }}</td>
                <td>{{ entity.concepto }}</td>
                <td>{{ entity.debe }}</td>
                <td>{{ entity.haber }}</td>
                <td>{{ entity.moneda }}</td>
                <td>{{ entity.tipoDeCambio }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('transaccion_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('transaccion_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('transaccion_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
