<tr>
    <td colspan="2">{{ entity.producto }}</td>   
    <td>{{ entity.cantidadPeriodo }} {{ entity.periodo }}</td>           
    <td>{{ entity.renta }}</td>                
    <td>{{ entity.cantidad }}</td>           
    <td>{{ entity.precio }}</td>   
    <td>{{ entity.precio * entity.cantidad }}</td>       
    <td >          
    </td>
</tr>
